* {margin: 0;
padding: 0;}

.header {color: black;
        background-color: rgb(59, 121, 192);
        font-family: 'Franklin Gothic Medium';
        font-size: 50pt;
        text-align: center;
        margin: 0;
        padding: 0;
        
    }

.averagesizedtext {font-family:'Franklin Gothic Medium';
                    font-size: 30pt;}

.smalltext {font-family: 'Franklin Gothic Medium';
            font-size:15pt}

.center {margin:auto}

.text-center {text-align:center}

.list-center {text-align: left;
            display:inline-block;
            padding-bottom: 20px;
            padding-top: 10px;}

.thelegend {max-width: 1000px;
            margin:20px auto;
            padding:20px;
            background-color: rgba(240, 248, 255,0.8);
            border-radius: 20px
        }
        
.img-bg {background-image: url('dna.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;}

.promptBox{
        margin-left:25svh;
        margin-right:auto;
        width:40svw;
        resize:none;
        border-radius:10px;
        opacity:0.8;
        font-family:"Franklin Gothic Medium";
        font-size:medium;
        padding:10px;
        }

.geminiOutput {
    padding:10px;
    margin-left:25svh;
    margin-right:auto;
    border-radius:10px;
    width:40svw;
    background-color: white;
    font-family:"Franklin Gothic Medium";
    font-size:medium;
    white-space: normal;
    overflow:visible;
    word-wrap:break-word;
    max-width: 80%;
}

        