* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

header {
  background-color: oklch(58.8% 0.158 241.966);
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.header_content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links a {
  display: inline-flex;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

h1 {
  color: #fff;
  font-size: 2rem;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.collaborators {
  list-style-type: none;
  background-color: oklch(95.1% 0.026 236.824);
  border-radius: 1rem;
  padding: 1rem;
}

.collaborator {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 9999px;
    margin-right: 0.5rem;
  }

  h4 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
  }

  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;

    svg {
      height: 1rem;
      width: 1rem;
      color: black;
    }
  }
}

.pages {
  list-style-type: none;
}

.page {
  background-color: oklch(95.1% 0.026 236.824);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    color: oklch(58.8% 0.158 241.966);
  }

  svg {
    height: 1.1rem;
    width: 1.1rem;
  }
}
