header {
  background-color: oklch(58.8% 0.158 241.966);
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  font-size: 16px;
}

.header_content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links a {
  display: inline-flex;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
